body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: lightslategrey;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .items-center {
    align-items: center;
  }
  
  .text-gray-200 {
    color: #ededed;
  }
  
  .p-8 {
    padding: 8px;
  }
  
  .text-5xl {
    font-size: 2.5rem;
  }
  
  .py-2 {
    padding-top: 8px;
    padding-bottom: 8px;
    color: red;
  }
  
  .text-lg {
    font-size: 1.125rem;
  }
  
  .hr {
    border: 0;
    border-top: 1px solid #ccc;
  }
  
  .mt-4 {
    margin-top: 16px;
  }
  
  .font-bold {
    font-weight: bold;
  }
  
  .u {
    text-decoration: underline;
  }
  
  .m-10 {
    margin: 40px;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  .gap-6 {
    gap: 24px;
  }
  
  .w-72 {
    width: 288px;
  }
  
  .h-72 {
    height: 288px;
  }
  
